@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    /* background-color: red; */
  
    font-family: 'Fira Sans', sans-serif;
    width: 10vw;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}
.infocontainer{
    /* background-color: purple; */
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
    font-size: 85px;
}
.name{
    font-size: 70px;
    font-weight: bold;
}
.about{
    font-size: 50px;
}
.devpic img{
    height: 78vh;
}


